/tmp
/out-tsc
.idea
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js
.DS_Store
.vscode/*
.env
/src/generated/prisma
/database
/dist
/build
/src/generated
package-lock.json
yarn.lock
infrastructure/data
logs
grafana
infrastructure/mongodb_data
client/node_modules